<div class="row login-register-bar">
  <div class="col-lg-6">
    <div class="blank-layout-container justify-content-center align-items-center bg-light bg-left">
      <div class="position-relative row w-100 h-100 bg-gredient justify-content-center">
        <mat-card class="cardWithShadow  ">
          <mat-card-content class="p-32">
            <div class="text-left m-t-20 m-b-12 dashboard-a-head">
              <a [routerLink]="['/dashboard']" class="d-flex">
                <i class="iconify icon-20 d-flex" data-icon="iconamoon:arrow-left-2-light"></i> Back to Dashboard
              </a>
            </div>
            <div class="text-left dashboard-bar1">
              <h1>Already you have Vendor ID</h1>
              <p>Enter your Vendor ID and OTP to sign in!</p>
            </div>
            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
              <mat-tab label="SignIn">
                <div class="f-s-14 p-16 rounded m-t-12">
                  <form>
                    <div class="row">
                      <div class="col-sm-12 d-flex align-items-center">
                        <mat-label class="f-s-14 f-w-600 d-block m-b-16">Enter ERP Vendor ID</mat-label>
                      </div>
                      <div class="col-sm-12">
                        <mat-form-field appearance="outline" class="w-100">
                          <input matInput placeholder="XXXX XXXX" />
                          <mat-icon matPrefix class="op-5">
                            <i-tabler name="edit" class="icon-20 d-flex"></i-tabler>
                          </mat-icon>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12 d-flex align-items-center">
                        <mat-label class="f-s-14 f-w-600 d-block m-b-16">Enter your OTP</mat-label>
                      </div>
                      <div class="col-sm-6">
                        <mat-form-field appearance="outline" class="w-100">
                          <input matInput placeholder="1234" />
                          <mat-icon matPrefix class="op-5">
                            <i-tabler name="lock" class="icon-20 d-flex"></i-tabler>
                          </mat-icon>
                        </mat-form-field>
                      </div>
                      <div class="col-sm-6">
                        <a [routerLink]="['/']" mat-flat-button color="primary" class="w-100 bg-error">
                          Send OTP
                        </a>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12">
                        <p>OTP Sent to your registered Mail Id</p>
                        <mat-label class="f-s-14 f-w-600 m-b-12 d-block">&nbsp;</mat-label>
                        <div class="d-flex">
                          <a [routerLink]="['/dashboard']" mat-flat-button color="primary" class="w-auto">
                            SignIn
                          </a>&nbsp;&nbsp;
                          <a [routerLink]="['/dashboard']" mat-flat-button color="primary"
                            class="w-auto bg-light-warning">
                            Cancel
                          </a>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </mat-tab>
              <mat-tab label="SignUp">
                <div class="f-s-14 p-16 rounded m-t-12">
                  <form>
                    
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="row">
                          <div class="col-sm-12 d-flex align-items-center">
                            <mat-label class="f-s-14 f-w-600 d-block m-b-16">Email</mat-label>
                          </div>

                          <div class="col-sm-12">
                            <mat-form-field appearance="outline" class="w-100">
                              <input matInput placeholder="xxx xxx" type="email" />
                              <mat-icon matPrefix class="op-5">
                                <i-tabler name="mail" class="icon-20 d-flex"></i-tabler>
                              </mat-icon>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="row">
                          <div class="col-sm-12 d-flex align-items-center">
                            <mat-label class="f-s-14 f-w-600 d-block m-b-16">GST number</mat-label>
                          </div>
                          <div class="col-sm-12">
                            <mat-form-field appearance="outline" class="w-100">
                              <input matInput placeholder="xxx xxx" type="gst" />
                              <mat-icon matPrefix class="op-5">
                                <i-tabler name="message-2" class="icon-20 d-flex"></i-tabler>
                              </mat-icon>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12 d-flex align-items-center">
                        <mat-label class="f-s-14 f-w-600 d-block m-b-16">Enter ERP Vendor ID</mat-label>
                      </div>
                      <div class="col-sm-12">
                        <mat-form-field appearance="outline" class="w-100">
                          <input matInput placeholder="XXXX XXXX" />
                          <mat-icon matPrefix class="op-5">
                            <i-tabler name="edit" class="icon-20 d-flex"></i-tabler>
                          </mat-icon>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12 d-flex align-items-center">
                        <mat-label class="f-s-14 f-w-600 d-block m-b-16">Enter your OTP</mat-label>
                      </div>
                      <div class="col-sm-6">
                        <mat-form-field appearance="outline" class="w-100">
                          <input matInput placeholder="1234" />
                          <mat-icon matPrefix class="op-5">
                            <i-tabler name="lock" class="icon-20 d-flex"></i-tabler>
                          </mat-icon>
                        </mat-form-field>
                      </div>
                      <div class="col-sm-6">
                        <a [routerLink]="['/']" mat-flat-button color="primary" class="w-100 bg-error">
                          Send OTP
                        </a>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12">
                        <p>OTP Sent to your registered Mail Id</p>
                        <mat-label class="f-s-14 f-w-600 m-b-12 d-block">&nbsp;</mat-label>
                        <div class="d-flex">
                          <a [routerLink]="['/dashboard']" mat-flat-button color="primary" class="w-auto">
                            SignIn
                          </a>&nbsp;&nbsp;
                          <a [routerLink]="['/dashboard']" mat-flat-button color="primary"
                            class="w-auto bg-light-warning">
                            Cancel
                          </a>
                        </div>
                      </div>
                    </div>
                  </form>                   
                </div>
              </mat-tab>
            </mat-tab-group>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="blank-layout-container justify-content-center align-items-center bg-light2">
      <div class="position-relative row w-100 h-100 bg-gredient justify-content-center align-items-center">
        <div class="text-center w-100">
          <a [routerLink]="['/dashboard']">
            <img src="./assets/images/logos/logo.png" class="align-middle m-2" alt="logo" />
          </a>
        </div>
        <mat-card class="cardWithShadow ms1">
          <mat-card-content class="p-32">
            <div class="m-t-12 m-b-12">Learn more about RFGB</div>
            <h4 class="m-b-12">www.rfgbpl.com</h4>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>