<div class="row">
  <div class="col-lg-12">
   
      <div class="row">
        <div class="col-lg-3 col-sm-4 col-6 ng-star-inserted"><mat-card
            class="mat-mdc-card mdc-card bg-light-primary shadow-none text-center"><mat-card-content
              class="mat-mdc-card-content"><img alt="users" width="40" class="rounded-circle"
                src="/assets/images/svgs/icon-user-male.svg">
              <h4 class="f-s-14 f-w-600 m-t-8 text-primary"> Vendors </h4>
              <h6 class="f-s-21 f-w-600 m-t-8 text-primary"> 2296 </h6>
            </mat-card-content></mat-card></div>
        
        <div class="col-lg-3 col-sm-4 col-6 ng-star-inserted"><mat-card
            class="mat-mdc-card mdc-card bg-light-secondary shadow-none text-center"><mat-card-content
              class="mat-mdc-card-content"><img alt="users" width="40" class="rounded-circle"
                src="/assets/images/svgs/icon-mailbox.svg">
              <h4 class="f-s-14 f-w-600 m-t-8 text-secondary"> Supplier </h4>
              <h6 class="f-s-21 f-w-600 m-t-8 text-secondary"> 356 </h6>
            </mat-card-content></mat-card></div>
        
        <div class="col-lg-3 col-sm-4 col-6 ng-star-inserted"><mat-card
            class="mat-mdc-card mdc-card bg-light-success shadow-none text-center"><mat-card-content
              class="mat-mdc-card-content"><img alt="users" width="40" class="rounded-circle"
                src="/assets/images/svgs/icon-speech-bubble.svg">
              <h4 class="f-s-14 f-w-600 m-t-8 text-success"> ASN </h4>
              <h6 class="f-s-21 f-w-600 m-t-8 text-success"> $96k </h6>
            </mat-card-content></mat-card></div>
        <div class="col-lg-3 col-sm-4 col-6 ng-star-inserted"><mat-card
            class="mat-mdc-card mdc-card bg-light-secondary shadow-none text-center"><mat-card-content
              class="mat-mdc-card-content"><img alt="users" width="40" class="rounded-circle"
                src="/assets/images/svgs/icon-connect.svg">
              <h4 class="f-s-14 f-w-600 m-t-8 text-secondary"> PO </h4>
              <h6 class="f-s-21 f-w-600 m-t-8 text-secondary"> 1459 </h6>
            </mat-card-content></mat-card></div><!---->
      </div>
    
  </div>
</div>
<div class="row">
  <div class="col-lg-8">
    <app-sales-overview></app-sales-overview>

  </div>
  <div class="col-lg-4">
    <app-yearly-breakup></app-yearly-breakup>
    <app-monthly-earnings></app-monthly-earnings>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <app-recent-transactions></app-recent-transactions>
  </div>
  <div class="col-lg-8">
    <app-product-performance></app-product-performance>
  </div>
</div>

<!-- <div class="row">
  <div class="col-12">
    <app-blog-card></app-blog-card>
  </div>
</div> -->