<mat-toolbar class="topbar gap-20">
  <!-- Mobile Menu -->
  <button mat-icon-button (click)="toggleMobileNav.emit()" class="d-flex d-lg-none justify-content-center">
    <i-tabler name="menu-2" class="icon-20 d-flex"></i-tabler>
  </button>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Notifications">
    <i-tabler class="d-flex" name="bell" matBadge="1" matBadgeColor="primary"></i-tabler>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>
  <span class="flex-1-auto"></span>
  <!-- --------------------------------------------------------------- -->
  <!-- profile Dropdown -->
  <!-- --------------------------------------------------------------- -->
  <!-- <a [routerLink]="['/authentication/login']" class="d-flex justify-content-center bg-secondary mdc-button mdc-button--unelevated mat-mdc-unelevated-button mat-unthemed mat-mdc-button-base">
    <i class="iconify icon-20 d-flex" data-icon="hugeicons:user-ai"></i> &nbsp;&nbsp;SignIn
  </a>
  <a [routerLink]="['/authentication/register']" class="d-flex justify-content-center bg-gredient mdc-button mdc-button--unelevated mat-mdc-unelevated-button mat-unthemed mat-mdc-button-base">
    <i-tabler name="user-plus" class="icon-20 d-flex"></i-tabler> &nbsp;&nbsp;SignUp
  </a>
    -->
  <button mat-mini-fab [matMenuTriggerFor]="profilemenu" aria-label="Notifications">
    <mat-icon class="d-flex align-items-center"><i class="iconify icon-20 d-flex"
        data-icon="fluent:line-horizontal-3-16-filled"></i></mat-icon>
  </button>
  <mat-menu #profilemenu="matMenu" class="cardWithShadow topbar-dd">
    <button mat-menu-item>
      <mat-icon class="d-flex align-items-center"><i class="iconify icon-20 d-flex"
          data-icon="hugeicons:user-ai"></i></mat-icon>Vendor SignIn
    </button>
    <button mat-menu-item>
      <mat-icon class="d-flex align-items-center"><i-tabler name="user-plus"
          class="icon-20 d-flex"></i-tabler></mat-icon>Vendor SignUp
    </button>

  </mat-menu>
</mat-toolbar>