/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    margin: 0;
}

a.logodark img {
    width: 100%;
}

.login-register-r,
.bg-light2 {
    background-color: #090f37;
    background: url(assets/images/bg1.jpg) right top no-repeat;
    width: 100%;
    background-size: cover;
    border-radius: 0;
}

// .bg-light2 {
//     position: relative;
//     width: 100%;
//     height: 400px;
//     color: white;
//     z-index: 1;
//     overflow: hidden;
// }

// .bg-light2::before {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background-image: url(assets/images/bg1.jpg);
//     background-size: cover;
//     background-position: right top;
//     opacity: 0.2;
//     z-index: -1;
// }

.bg-light-m {
    background: #000;
    height: 100%;
    position: fixed;
    width: 51%;
}

mat-card.mat-mdc-card.mdc-card.cardWithShadow.ms1 {
    width: 75%;
    background: transparent;
    // border: 1px solid #ccc;
    color: #fff;
    text-align: center;
}

.row.login-register-bar,
.login-register-bar {
    /* margin: 0 !important; */
    background: #f2f6fa;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
    padding: 0 !important;
    height: 100vh !important;
}

.blank-layout-container {
    height: 100% !important;
}

.row.login-register-bar .col-lg-6:nth-child(2) {
    padding: 0;
}

.dashboard-a-head a {
    text-decoration: none;
    font-size: 15px;
}

.dashboard-bar1 {
    margin: 30px 0;
    padding: 0;
}

.dashboard-bar1 p {
    margin: 0;
    padding: 20px 0 0;
    color: #999;
    font-size: 13px;
}

.login-register-bar mat-card.mat-mdc-card.mdc-card.cardWithShadow {
    width: 95%;
    padding: 0;
    background: transparent;
    box-shadow: unset;
}

.m-b-30 {
    margin-bottom: 30px;
}

.login-register-bar .bg-light.bg-left {
    // overflow-y: auto;
}

.logout-btn-foot {
    width: 100%;

}

.profile-bar.pbar2 {
    margin: 20px 20px 100px 20px;
}

.profile-bar.pbar2 .pbar2-inner {
    padding: 0 0 15px !important;
}

mat-stepper.dubai-main-road.mat-stepper-horizontal.mat-stepper-label-position-end.mat-stepper-animations-enabled {
    background: transparent;
    border: 1px solid #8cc63c;

}

.pageWrapper.maxWidth {
    max-width: 99% !important;
}

.breadcrumb {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.breadcrumb-item {
    padding: 0 10px 0 0;
}

.breadcrumb-item a {
    text-decoration: none;
    font-size: 14px;
}

.breadcrumb-main .bb-box {
    max-height: 85px;
}

.breadcrumb-main .bb-box img {
    width: 90px;
}

li.breadcrumb-item.active {
    font-weight: bold;
    color: #8cc63c;
}


.bg-dark {}

.mat-drawer-transition .mat-drawer-content {
    background: #f2f6fa !important;
}

// .branding {
//     background: linear-gradient(90deg, #001138 0%, #001E66 100%);
// }
.bg-button-m {
    border: 0;
    outline: none;
    padding: 5px 15px;
    color: #fff;
    align-items: center;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
}

button.mat-mdc-menu-trigger.live-preview-drop.supplier-bar-menu {
    border: 0;
    outline: none;
}

button.mat-mdc-menu-trigger.live-preview-drop.supplier-bar-menu:hover {
    border: 0;
    outline: none;
    background: transparent;
    color: #8cc63c;
}

button.mat-mdc-menu-trigger.live-preview-drop2 {
    border: 2px solid #ddd;
    min-width: auto;
    padding: 0;
    border-radius: 100%;
}

.footer-bar {
    color: #8cc63c;
    background: linear-gradient(90deg, #001138 0%, #001E66 100%);
    padding: 18px 0;
}

.footer-bar a {
    color: #fff;

}

a.bg-gredient.mdc-button.mdc-button--unelevated.mat-mdc-unelevated-button.mat-unthemed.mat-mdc-button-base:hover {
    background: #5f8827;
}

a.bg-secondary:hover {
    background: #339bd5 !important;
}

table .table-main-all {}

table.table-main-all tr th {
    padding: 20px 10px !important;
    text-align: left !important;
    border-bottom: 1px solid #ddd !important;
    background: #f7f7f7;
}

table.table-main-all tr td {
    padding: 15px 10px !important;
    text-align: left !important;
    border-bottom: 1px solid #ddd !important;
}

.border-radius-10 {
    border-radius: 10px;
}

.border-radius-5 {
    border-radius: 5px;
}

.border-radius-3 {
    border-radius: 3px;
}

.border-radius-20 {
    border-radius: 20px;
}


.dash-pos-fix {
    position: fixed;
}

app-nav-item app-nav-item a {
    margin: 5px 0 5px 10% !important;
    width: 90% !important;
}

.bg-white {
    background: #fff;
}

.box-ms-main {}

.border-radius-0 {
    border-radius: 0 !important;
}

.btn-0 {
    padding: 8px 15px !important;
    height: auto !important;
}

.btn-dark {
    background: #555 !important;
}

button span.mdc-button__label {
    display: flex;
}

button,
td span {
    display: inline-block;
    width: max-content;
}

.p-t-0 {
    padding-top: 0;
}

button,
a {
    // border-radius: 0 !important;
}

table.tmfull {
    width: 1300px;
}

table.tmfull2 {
    width: 750px;
}

.signin-main {
    background: #f2f6fa;
    padding: 0px;
    border-radius: 3px;
}

.signin-inner {
    background: #fff !important;
    padding: 20px;
    border-radius: 3px;
}

.signin-main span.mdc-tab-indicator__content.mdc-tab-indicator__content--underline {
    border: 2px solid #fff !important;
}

.signin-main .mdc-tab.mat-mdc-tab.mat-focus-indicator.mdc-tab--active.mdc-tab-indicator--active,
.signin-main .mdc-tab.mat-mdc-tab.mat-focus-indicator.mdc-tab--active.mdc-tab-indicator--active .mat-ripple.mat-mdc-tab-ripple {
    background: #fff !important;
}

.signin-main .mdc-tab.mat-mdc-tab.mat-focus-indicator {
    background: #f2f6fa !important;
}

.signin-main .mdc-tab.mat-mdc-tab.mat-focus-indicator:hover .mat-ripple.mat-mdc-tab-ripple {
    background: #f2f6fa !important;
}

.signin-main .mdc-tab.mat-mdc-tab.mat-focus-indicator.cdk-focused.cdk-mouse-focused.mdc-tab--active.mdc-tab-indicator--active {
    background: #fff !important;
}

// .signin-inner span.mdc-tab-indicator__content.mdc-tab-indicator__content--underline {
//     border: 2px solid #8cc63c !important;
// }

// .signin-inner .mdc-tab.mat-mdc-tab.mat-focus-indicator.mdc-tab--active.mdc-tab-indicator--active {
//     background: #8cc63c !important;
// }



.signin-inner span.mdc-tab-indicator__content.mdc-tab-indicator__content--underline {
    border: 2px solid #8cc63c !important;
}

.signin-inner .mdc-tab.mat-mdc-tab.mat-focus-indicator.mdc-tab--active.mdc-tab-indicator--active,
.signin-inner .mdc-tab.mat-mdc-tab.mat-focus-indicator.mdc-tab--active.mdc-tab-indicator--active .mat-ripple.mat-mdc-tab-ripple {
    background: #333 !important;
}

.signin-inner .mdc-tab.mat-mdc-tab.mat-focus-indicator {
    background: #fff !important;
}

.signin-inner .mdc-tab.mat-mdc-tab.mat-focus-indicator:hover .mat-ripple.mat-mdc-tab-ripple {
    background: #fff !important;
}

.signin-inner .mdc-tab.mat-mdc-tab.mat-focus-indicator.cdk-focused.cdk-mouse-focused.mdc-tab--active.mdc-tab-indicator--active {
    background: #333 !important;
}

.signin-inner .mat-mdc-tab-body-wrapper {
    border: 1px solid #777;
}

.signin-inner .mdc-tab.mat-mdc-tab.mat-focus-indicator.mdc-tab--active.mdc-tab-indicator--active span.mdc-tab__text-label {
    color: #fff !important;
}

img.login-bar {
    width: 500px;
    height: auto;
}

.login-logo-sec {
    position: relative;
    top: 20px;
}

.login-url-sec {
    position: relative;
    top: -50px;
    z-index: 999;
}

.mat-mdc-tab-label-container {
    border: 0 !important;
}

a span,
a {
    text-decoration: none;
}

.bg-light-error.text-error.bg-light-error2:hover {
    background: #d75f3f !important;
    color: #fff !important;
}

.asn-head {
    background: rgb(68, 183, 247, 0.15);
    padding: 20px;
    margin-bottom: 1px;
}

.table-responsive.asn-req mat-form-field.mat-mdc-form-field {
    width: 100px;
    position: relative;
    top: 8px;
}

@media (max-width: 767px) {
    button.mat-mdc-menu-trigger.live-preview-drop.supplier-bar-menu {
        border: 0;
        outline: none;
        padding: 0 !important;
    }

    table.tmfull,
    table.tmfull2 {
        width: 100%;
    }

    .app-topstrip.p-x-24 {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    img.login-bar {
        width: 100%;
        height: auto;
    }
}